*.gem
*.rbc
.bundle
.config
InstalledFiles
coverage
lib/bundler/man
log
pkg
rdoc
spec/reports
tags
tags.*
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# rbenv/RVM artifacts
.rbenv-gemsets
.rbenv-version
.ruby-gemset
.ruby-version
