body {
  background-color: #DDD;
  margin: 0;
  padding: 0;
}

#connect-container, #game-container {
  padding: 5px;
  text-align: center;
}

#connect-container input, #connect-container a, #input, #output {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}

#connect-container input, #connect-container a {
  display: block;
  margin: 0 auto;
  width: 250px;
}

#connect-container input {
  margin-bottom: 3px;
}

#connect-container {
  margin-top: 25px;
}

#connect {
  background-color: #EEE;
  border: solid #777 1px;
  color: #666;
  font-weight: bold;
  padding: 3px 0;
  text-decoration: none;
}

#connect:hover {
  background-color: #CCC;
}

#game-container {
  margin: 0 auto;
}

#input {
  height: 20px;
  width: 100%;
}

#output {
  display: block;
  margin: 0 auto;
  resize: none;
}
