body {
  background-color: #F9F9F9;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

pre {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

#connect-container {
  height: 150px;
  margin-top: -75px;
  position: relative;
  top: 50%;
}

#game, #bridge, #account, #password, #character, #connect, #output, #input {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}

#game, #bridge, #account, #password, #character, #output, #input {
  border: solid #BBB 1px;
  padding: 0 3px;
}

#game, #bridge, #account, #password, #character, #connect {
  display: block;
  margin: 0 auto;
}

#game, #bridge, #account, #password, #character, #input {
  height: 21px;
}

#game, #bridge, #account, #password, #character {
  margin-bottom: 3px;
  width: 250px;
}

#connect {
  background-color: #FB8A1E;
  border: solid #777 1px;
  color: #FFF;
  font-weight: bold;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  width: 248px;
}

#connect:hover {
  background-color: #F67B1E;
}

#game-container, #output, #input {
  position: absolute;
}

#game-container {
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
}

#output, #input {
  background-color: #000;
  color: #CCC;
  left: 0;
  right: 0;
}

#output {
  bottom: 25px;
  overflow-y: scroll;
  padding: 10px 5px;
  text-align: left;
  top: 0;
}

#input {
  bottom: 0;
  width: 100%;
}
